body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

input {
  padding: 2%;
  flex: 1;
  height: 50px;
  font-size: 2em;
}

.container {
  display: flex;
  flex: 1;
  padding-left: 1%;
  padding-top: 2%;
  justify-content: space-evenly;
  align-items: 'center';
}

.typewriter div {
  /* overflow: hidden; Ensures the content is not revealed until the animation */
  background-color: black;
  color: white;
  font-size: 1.5em;
  border-right: 0.15em solid orange; /* The typwriter cursor */
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-word;
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  padding-bottom: 3%;
  padding: 2%;
}

div.hidden {
  visibility: hidden;
}

div.visible {
  visibility: visible;
}

.clues {
  background-color: rgb(204, 204, 204);
  width: 70vw;
}

.haystack {
  width: 50%;
}

.message {
  color: red;
}

/* The typing effect
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */
