h1 {
  margin: 10px;
  padding: 0px;
}

label {
  margin: 5px;
}

body {
  font-family: sans-serif;
  width: 100vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

input {
  padding: 2%;
  flex: 1;
  height: 50px;
  font-size: 2em;
}

.container {
  display: flex;
  flex: 1;
  /* padding-left: 10px;
  padding-top: 10px; */
  justify-content: space-evenly;
  align-items: 'center';
}

div.typewriter {
  width: 700px;
  /* overflow: hidden; Ensures the content is not revealed until the animation */
  background-color: black;
  color: white;
  border-right: 0.15em solid orange; /* The typwriter cursor */
  font-family: monospace;
  white-space: normal; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  margin: 5%;
  /* padding-bottom: 3%;
  padding: 2%; */
}

div.hidden {
  visibility: hidden;
}

div.visible {
  visibility: visible;
}

.clues {
  background-color: rgb(204, 204, 204);
  width: 70vw;
}

.commish {
  height: 400px;
}

.haystack {
  overflow-wrap: break-word;
  padding: 5px;
}

.inputArea {
  margin: 15px;
  width: 400px;
}

.playground {
  display: flex;
}

::placeholder {
  font-size: 15px;
}

/* The typing effect
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */
